<% layout('layout/boilerplate.ejs') %>

<h1 class="h1 mb-4">Inventory List</h1>

<% if(inventories.length === 0){ %>
<div class="alert alert-warning">Belum ada data barang.</div>
<% } else { %>
<div class="row">
  <% for(let barang of inventories){ %>
  <div class="col-md-6 mb-3">
    <div class="card">
      <div class="card-body">
        <img src="<%= barang.image_url %>" alt="" style="width: 600px;">
        <h5 class="card-title"><%= barang.nama_barang %></h5>
        <h6 class="card-subtitle mb-2 text-muted">SN: <%= barang.nomor_seri || 'Tidak ada' %></h6>

        <% if(barang.detail && Object.keys(barang.detail).length > 0) { %>
        <hr>
        <p class="mb-1 fw-bold">Detail:</p>
        <ul class="list-unstyled ms-2 mb-0">
          <% for(let key in barang.detail) { %>
          <li><strong><%= key %>:</strong> <%= barang.detail[key] %></li>
          <% } %>
        </ul>
        <% } %>

      </div>
      <div class="card-footer text-muted" style="font-size: 0.8rem;">
        Diinput pada: <%= new Date(barang.createdAt).toLocaleString('id-ID') %>
      </div>
    </div>
  </div>
  <% } %>
</div>
<% } %>